/*.image{*/
/*    max-width: 1050px;*/
/*    width: 100%;*/
/*    height: 230px;*/
/*    object-fit: cover;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.info__image{*/
/*    width: 300px;*/
/*    height: 250px;*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-top: -100px;*/
/*    background-color: #ffffff;*/
/*    border-radius: 5px;*/
/*}*/
/*.info__image img{*/
/*    height: 250px;*/
/*    object-fit: cover;*/
/*    border-radius: 5px;*/
/*}*/
/*.info__text{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    justify-content: flex-start;*/
/*    margin-left: 15px;*/
/*}*/
/*.info__text h3{*/
/*    margin: 0 0 12px 0;*/
/*}*/
/*.info__text a{*/
/*    text-decoration: none;*/
/*    color: #515355;*/
/*}*/
/*.icon{*/
/*    display: inline-block;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    position: relative;*/
/*    left: -50px;*/
/*    bottom: -90px;*/
/*}*/
/*.wrapper__information{*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*    padding: 0 10px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*}*/
/*.about__personal_information{*/
/*    max-width: 280px;*/
/*    width: 100%;*/
/*    background-color: #ffffff;*/
/*    padding: 20px;*/
/*    border-radius: 5px;*/
/*}*/
/*.about__header{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    margin-bottom: 12px;*/
/*}*/
/*.dropdown__toggle{*/
/*    padding: 0;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    color: #6B7C8F;*/
/*    font-size: 22px;*/
/*    line-height: 15px;*/
/*    cursor: pointer;*/
/*}*/
/*.dropdown__menu{*/
/*    position: absolute;*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);*/
/*    background-color: #ffffff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    display: block;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    padding: 0;*/
/*}*/
/*.dropdown__menu a{*/
/*    padding: 8px 15px 8px 40px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items:center;*/
/*    position: relative;*/
/*    font-size: 15px;*/
/*    border-radius: 5px;*/
/*    color: #515355;*/
/*    text-decoration: none;*/
/*}*/
/*.information__list{*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*}*/
/*.information__list li{*/
/*    margin-bottom: 10px;*/
/*    font-size: 15px;*/
/*    color: #515355;*/
/*}*/
/*.information__list a{*/
/*    font-size: 15px;*/
/*    color: #515355;*/
/*    text-decoration: none;*/
/*}*/
/*.information__list li span{*/
/*    font-weight: 600;*/
/*}*/
/*.title{*/
/*    font-size: 18px;*/
/*    font-weight: 600;*/
/*}*/
/*.about__details_information{*/
/*    padding: 10px;*/
/*}*/
/*.about__details_information h3{*/
/*    margin-top: 0;*/
/*    font-size: 18px;*/
/*    font-weight: 600;*/
/*    text-align:left;*/
/*}*/
/*.about__details_information p{*/
/*    text-align: left;*/
/*    color: #515355;*/
/*}*/
/*.about__details_information{*/
/*    margin-left: 10px;*/
/*    background-color: #ffffff;*/
/*}*/

.image {
    animation: scroll 70s linear infinite;
    background: url("https://templates.envytheme.com/zust/default/assets/images/favourite-bg.jpg"), #111111;
    color: #eee;
    height: 250px;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    margin-bottom: 90px;
}
@keyframes scroll {
    100%{
        background-position:0 -3000px;
    }
}
@media (prefers-reduced-motion) {
    .image {
        animation: scroll 200s linear infinite;
    }
}

.edit_cover_btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: inline-block;
    background-color: #ffffff;
    color: #3644D9;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.edit_cover_btn:hover{
    color: #ffffff;
    background-color: #3644D9;
}