.sidebar{
    position: fixed;
    left: 0;
    top: 5.3rem;
    height: 100%;
    width: 160px;
    z-index: 1;
    transition: .4s;
}
.list{
    margin: 0;
    padding: 10px 0 0 0 ;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    border-top-left-radius: 5px;
}
.link{
    font-size: 18px;
    text-decoration: none;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.link:hover{
    color: #3644D9;;
}
.active{
    color: #3644D9;
}
a:focus{color:gold;}
.item{
    display: flex;
    align-items: center;
    padding-left: 18px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    transition: .3s;
    order: -1;
}
.link:hover  .icon{
    fill: #3644D9;
    cursor: pointer;
}
.active .icon{
    fill: #3644D9
}
